html{
    margin: 0;
    padding: 0;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btn-group button {
    background-color: #04AA6D; 
    border: 1px solid green; 
    color: white; 
    padding: 10px 24px;
    margin: 20px;
    cursor: pointer;
    display: block;
    height: 10vh;
    width: 10vw;
}
.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}
.btn-group button:hover {
    background-color: #3e8e41;
}

#main_div {
/*     display: flex;
    align-content: stretch;
    width: 100vw;
    height: 100vh; */
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    background-color: blueviolet;
}
#menu_div {
/*     display: flex;
    height:100vw;
    width:100vh; */
    height:100vh;
    width:100%;
    display:flex;
    background-color: aqua;
}
#game_div {
    visibility: hidden;
/*     display: flex;
    height:100vw;
    width:100vh; */
    height:100vh;
    width:100%;
    display:flex;
    align-content: flex;
    background-color: yellow;
}