html{
    margin: 0;
    padding: 0;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btn-group button {
    background-color: #04AA6D; 
    border: 1px solid green; 
    color: white; 
    padding: 10px 24px;
    margin: 20px;
    cursor: pointer;
    display: block;
    height: 10vh;
    width: 10vw;
}
.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}
.btn-group button:hover {
    background-color: #3e8e41;
}

#main_div {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
#menu_div {

    height:100vh;
    width:100%;
    display:flex;
    justify-content: center;
}
#game_div {
    display: none;
    height:100vh;
    width:100%;
    display:flex;
    align-content: flex;
    justify-content: center;
}

#leave_game{
    background-color: #04AA6D; 
    border: 1px solid green; 
    color: white; 
    padding: 10px 24px;
    margin: 20px;
    cursor: pointer;
    display: block;
    height: 10vh;
    width: 10vw;
}

#leave_game button:hover {
    background-color: #3e8e41;
}