html{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family: 'Press Start 2P', cursive;
    background-image: url('../img/fond.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
 
#menu_div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}
#game_div{
    visibility:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}

#Mage_selection {
    height: 100px;
    margin: 2em;
}
#Warior_selection {
    height: 100px;
    margin: 2em;
}
#Tank_selection {
    height: 100px;
    margin: 2em;
}
#Astronaut_selection {
    height: 100px;
    margin: 2em;
}
#Monstre_selection {
    height: 100px;
    margin: 2em;
}
#Girl_selection {
    height: 100px;
    margin: 2em;
}


.perso{
    margin-left: 15em;
}

.h1 {
    font-family: 'Press Start 2P', cursive;
    background: -webkit-linear-gradient(rgb(255, 0, 0), rgb(255, 238, 0), rgb(255, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5em;
    margin-left: 2.5em;
    margin-top: 3em;
}

